.calculator{
    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px  5px -10px #fff;
    background: #159;

    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;

    
}
